* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#resume {
  width: 100%;
  height: 1500px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  transition: 1s;
}
nav ul li a:hover {
  color: greenyellow;
  animation: normal;
  transform: translateX(0);
}

div {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  box-sizing: border-box;
}

footer h1 {
  margin-bottom: 10px; /* Add some margin to separate the text from the links */
}

.home-info {
 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  max-height: 60%;
  max-width: 70%;
  margin-left: 23rem;
}

.background-image {
  display: flex;
  justify-content: center;
  flex-direction: center;
  flex-direction: column;
}
.background-image img {
  flex-direction: column;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.about {
  padding-bottom: 149px;
}
.about-me {
  background-color: #333;
  color: #fff;
  padding: 5rem;
  font-size: 2rem;
  border-radius: 7%;
  position: relative;
  top: 2rem;
}

.link {
  color: #fff;
}

.link:hover {
  color: chartreuse;
}

.work-about-me {
  background-color: #333;
  color: #fff;
  padding: 5rem;
  font-size: 2rem;
  border-radius: 7%;
  position: relative;
  top: 4rem;
  width: 95%;
  left: 4rem;
}

/*Component styles */
.component {
  margin-bottom: 20px;
}

.component,
h2,
h3,
h4 {
  text-decoration: underline;
}
.blogs {
  background-color: aqua;
  padding-bottom: 139px;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
}

.blog-posts article {
  flex: 1 1 300px; /* Adjust as needed for the desired width */
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid green;
  border-width: 0.5rem;
}

.blog-posts article:last-child {
  margin-right: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 4;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  transition: 1s;
}

nav ul li a:hover {
  color: greenyellow;
  animation: normal;
  transform: translateX(0);
}

.home-info,
.about-me,
.work-about-me {
  background-color: #333;
  color: #fff;
  padding: 5rem;
  font-size: 2rem;
  border-radius: 7%;
}

.link {
  color: #fff;
}

.link:hover {
  color: chartreuse;
}

.component,
h2,
h3,
h4 {
  text-decoration: underline;
}

/* Phones
@media only screen and (max-width: 600px) {
  header {
    padding: 5vh;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .component {
    padding: 3vh;
  }
  .about-me,
  .work-about-me {
    padding: 3vh;
    font-size: 1.2rem;
  }
} */

/* Tablets */
/* @media only screen and (min-width: 601px) and (max-width: 900px) {
  .home-info,
  .about-me,
  .work-about-me,
  .component {
    padding: 5vh;
    font-size: 1.5rem;
  }
} */

/* Laptops */
/* @media only screen and (min-width: 901px) and (max-width: 1200px) {
  .home-info,
  .about-me,
  .work-about-me,
  .component {
    padding: 7vh;
    font-size: 1.8rem;
  }
} */

/* Normal screens */
/* @media only screen and (min-width: 1201px) {
  .home-info,
  .about-me,
  .work-about-me,
  .component {
    padding: 8vh;
    font-size: 2rem;
  }
} */

@media only screen and (min-width: 500px) and (max-width: 899px) {
  .home-info,
  .about-me,
  .work-about-me,
  .component {
    flex: 50%;
    height: 100%;
    width: 100%;
    
  }
}
