* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  transition: color 1s, transform 1s;
}

nav ul li a:hover {
  color: greenyellow;
  transform: translateX(0);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  box-sizing: border-box;
}

footer h1 {
  margin-bottom: 10px;
}

.home-info,
.about-me,
.work-about-me {
  background-color: #333;
  color: #fff;
  padding: 5rem;
  font-size: 2rem;
  border-radius: 7%;
  background: rgb(24,0,36);
background: radial-gradient(circle, rgba(24,0,36,1) 26%, rgba(2,4,28,0.908000700280112) 70%, rgba(27,27,32,0) 100%);
}

.link {
  color: #fff;
}

.link:hover {
  color: chartreuse;
}

.component,
h2,
h3,
h4 {
  text-decoration: underline;
}

.home {
  background-image: url(docs/background-image.jpg);
  background-size: cover;
  background-position: center;
}

.about {
  padding-bottom: 200px;
  background-image: url(docs/about-me-background.jpg);
  background-size: cover;
  background-position: center;
}

.blogs {
  background-color: aqua;
  padding-bottom: 139px;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
}

.blog-posts article {
  flex: 1 1 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid green;
  border-width: 0.5rem;
}

.blog-posts article:last-child {
  margin-right: 0;
}

#resume {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  header,
  footer {
    padding: 15px;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .home-info,
  .about-me,
  .work-about-me {
    padding: 2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  header,
  footer {
    padding: 15px;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .home-info,
  .about-me,
  .work-about-me {
    padding: 2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  header,
  footer,
  .home-info-item {
    padding: 20px;
  }
  nav ul li a {
    font-size: 1.75rem;
  }
  .home-info,
  .about-me,
  .work-about-me {
    padding: 3rem;
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 901px) {
  header,
  footer {
    padding: 25px;
  }
  nav ul li a {
    font-size: 2rem;
  }
  .home-info,
  .about-me,
  .work-about-me {
    padding: 4rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  header,
  footer {
    padding: 30px;
  }
  nav ul li a {
    font-size: 2.5rem;
  }
  .home-info,
  .about-me,
  .work-about-me {
    padding: 5rem;
    font-size: 2.5rem;
  }
}
